.welcomeLabel {
  vertical-align: middle;
  padding-right: 5px;

  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  a {
    color: var(--mantine-color-gray-6);
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.3rem;
    text-decoration: none;

    svg {
      margin-right: 2px;
    }

    background: transparent;
    padding: 5px;
    border-radius: 7px;
    cursor: pointer;

    &:hover {
      color: white;
      background-color: var(--mantine-color-anchor);
    }

    @media (max-width: 850px) {
      font-size: 1rem !important;
    }
  }

  @media (max-width: 680px) {
    margin-left: 10px;
    padding-left: 0;
  }

  @media (max-width: 480px) {
    border-left: none;
    padding-left: 0;
    margin-left: -30px;
  }

  @media (max-width: 320px) {
    a {
      display: inline-block;
      border-radius: 100px;
      width: 41px;
      height: 41px;
      overflow: hidden;
      background: var(--mantine-color-blue-filled);
      color: transparent;
      &:hover {
        background: var(--mantine-color-blue-filled);
      }
      svg {
        position: relative;
        left: 4px;
        top: -3px;
        stroke: white;
      }
    }
  }
}

.welcomeModal {
  header h2 {
    font-weight: bold;
    font-size: 1.2em;
    color: var(--mantine-color-cyan-text);
    .tabler-icon {
      color: var(--mantine-color-yellow-text);
    }
  }

  p + p {
    margin-top: 1rem;
    strong {
      color: var(--mantine-color-lime-text);
    }
    i {
      font-style: normal;
      font-weight: bold;
      color: var(--mantine-color-cyan-text);
    }
  }
}
