@import './reset';

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--mantine-color-dark-4);
}

body {
  p {
    line-height: 1.3 !important;
  }

  .tabler-icon {
    vertical-align: middle;
  }

  .mantine-Anchor-root {
    line-height: 1.3;
  }

  .mantine-Divider-root:where([data-orientation='vertical']) {
    display: inline;
    margin: 0 .75rem;
  }

  .mantine-Slider-root {
    margin: 1rem;
    padding-bottom: 2.5rem;

    .mantine-Slider-markWrapper {
      .mantine-Slider-markLabel {
        transform: none;
        position: relative;
        top: calc(var(--mantine-spacing-xs));
      }

      &:last-child .mantine-Slider-markLabel {
        right: calc(100% - var(--mantine-spacing-xs));
      }
    }
  }
}
