$track-height: 40px;
$margin: 0 3px 3px 3px;

$bar-height: 10px;
$bar-shadow: 0px 5px 4px rgba(0, 0, 0, 0.5);

$mantine-colors: blue, cyan, dark, grape, gray, green, indigo, lime, orange, pink, red, teal, violet, yellow;
$mantine-color-shades: 1, 2, 3, 4, 5, 6, 7;

.mantine-Loader-root {
  transform: rotate(90deg);
  // reverse x and y here as it is rotated
  filter: drop-shadow(5px 0px 4px rgba(0, 0, 0, 0.5));
}

.eventsContainer {
  z-index: 100;
  position: relative;
  top: 50px;
  margin-left: 20px;
  flex-grow: 2;
  z-index: 1;

  .eventWrapper {
    position: absolute;
    top: 50px;
    left: 0;
    height: $track-height;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;

    .bar {
      height: $bar-height;
      position: relative;
      z-index: 100;
      overflow: hidden;
      &:not(.fuzzy) { filter: drop-shadow(0 2px 2px rgba(0,0,0,.5)); }

      .base {
        fill: var(--mantine-color-blue-text);
        @each $color in $mantine-colors {
          @each $shade in $mantine-color-shades {
            &.#{$color}_#{$shade} {
              fill: var(--mantine-color-#{$color}-#{$shade});
            }
          }
        }
        &.black {
          fill: black;
        }
      }

      .margin {
        fill: rgba(255, 255, 255, 0.6)
      }
    }

    .labels {
      width: 100%;
      white-space: nowrap;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      font-size: .75rem;
      padding: 2px 0 0 0;
      margin-left: 0;
      z-index: 50;

      .title {
        font-weight: 700;
      }

      .start {
        z-index: 10;
        background: var(--mantine-color-body);
        flex-shrink: 0;
        position: sticky;
        left: 20px;

        &::after {
          content: '';
          display: block;
          position: absolute;
          left: 100%;
          top: 0;
          width: 150px;
          height: 100%;
          background: linear-gradient(90deg, var(--mantine-color-body) 30%, transparent);
        }
      }

      .end {
        z-index: 1;
      }
    }

    .flag {
      position: absolute;
      bottom: $track-height - $bar-height;
      height: 1000px;
      width: 1px;
      background: var(--mantine-color-dimmed);
      opacity: 0.5;
      pointer-events: none;
    }

    .fuzzyCap {
      position: absolute;
      z-index: 120;
      top: 0;
      width: 50%;
      max-width: 500px;
      height: $bar-height;
      &.start {
        left: 0;
        background: linear-gradient(-90deg, transparent, var(--mantine-color-body) 95%);
      }
      &.end {
        right: 0;
        background: linear-gradient(90deg, transparent, var(--mantine-color-body) 95%);
      }
    }

    &.today {
      .labels {
        font-size: 1.1rem;
        color: var(--mantine-color-orange-4);
      }
    }
  }
}

.mantine-HoverCard-dropdown {
  left: 25px;
  background-color: var(--mantine-color-text) !important;
  border: none !important;
  padding: 5px 10px !important;
  margin-left: 25px;
  max-width: 500px;

  .sourceContent,
  .placementContent {
    color: var(--mantine-color-body);
    a {
      color: var(--mantine-color-blue-8);
      :root[data-mantine-color-scheme='light'] & {
        color: var(--mantine-color-blue-2);
      }
    }
    span.id {
      font-weight: 700;
      color: var(--mantine-color-grape-8);
      :root[data-mantine-color-scheme='light'] & {
        color: var(--mantine-color-grape-2);
      }
    }
  }
}


