$track-height: 46px;
$margin: 0 3px 3px 3px;
$bar-height: $track-height * 0.5;
$mantine-colors: blue, cyan, dark, grape, gray, green, indigo, lime, orange, pink, red, teal, violet, yellow;

.eventsContainer {
  z-index: 100;
  position: relative;
  overflow-x: visible;
  overflow-y: auto;
  flex-grow: 2;

  .eventWrapper {
    position: absolute;
    top: 50px;
    left: 0;
    height: $track-height;

    .bar {
      height: $bar-height;
      box-shadow: 0 2px 4px rgba(0, 0, 0, .6);
      position: relative;
      z-index: 100;
      border-radius: 3px;
      overflow: hidden;

      .base {
        fill: var(--mantine-color-blue-text);
        @each $color in $mantine-colors {
          &.#{$color} {
            fill: var(--mantine-color-#{$color}-text);
          }
        }
      }

      .margin {
        fill: rgba(255, 255, 255, 0.6)
      }

      .gradient {
        height: $bar-height;
        fill: linear-gradient(60deg, rgba(255, 255, 255, .1), rgba(0, 0, 0, .1), rgba(255, 255, 255, .1));
      }
    }

    .labels {
      width: 100%;
      white-space: nowrap;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      font-size: .75rem;
      padding-left: 5px;
      z-index: 50;

      .title {
        font-weight: 700;
      }

      .start {
        z-index: 10;
        background: var(--mantine-color-body);
        flex-shrink: 0;
        position: sticky;
        left: 0;

        &::after {
          content: '';
          display: block;
          position: absolute;
          left: 100%;
          top: 0;
          width: 100px;
          height: 100%;
          background: linear-gradient(90deg, var(--mantine-color-body) 20%, transparent);
        }
      }

      .end {
        z-index: 1;
      }
    }

    .flag {
      position: absolute;
      bottom: $track-height - $bar-height + 2px;
      height: 1000px;
      width: 1px;
      background: var(--mantine-color-text);
    }
  }
}
