.burger {
  position: absolute;
  z-index: 1000;
  top: 15px;
  left: 15px;
  background: var(--mantine-color-body);
}

.navbar {
  padding-left: 10px;
  padding-right: 10px;

  header {
    // padding-bottom: 0;
    .mantine-Drawer-title {
      font-size: 24pt;
      font-weight: 700;
      padding-left: 30px;
    }
  }

  .mantine-Drawer-body {
    margin-top: 10px;
    height: calc(100% - 15px - (3.75rem * var(--mantine-scale)));
    max-height: calc(100% - 15px - (3.75rem * var(--mantine-scale)));
  }

  .timelineIcon {
    transform: rotate(-90deg);
  }

  .mantine-Tabs-root {
    max-height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    flex-shrink: 1;

    .mantine-Tabs-tabLabel {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      span {
        padding-left: 5px;
      }
    }

    .mantine-Tabs-panel {
      overflow-y: auto;
      overflow-x: auto;
      padding: 20px;
    }
  }
}
