$drawer-handle-color: var(--mantine-color-gray-7);

.mantine-Burger-root {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  box-sizing: content-box;
  border-left: solid 2px $drawer-handle-color;
  border-right: solid 2px $drawer-handle-color;
  background: $drawer-handle-color;
  height: 100%;
  opacity: 1;
  transition-property: opacity, left;
  transition-duration: 500ms;
  transition-timing-function: ease;

  &.navOpen {
    left: calc(27.5rem * var(--mantine-scale));
    @media (max-width: 488px) {
      opacity: 0;
    }
  }

  .mantine-Burger-burger {
    position: absolute;
    left: 10px;
    top: var(--burger-size);
    &:not([data-opened]),
    &:before,
    &:after {
      background-color: var(--mantine-color-white) !important;
    }
  }
}

.navbar {
  position: relative;
  z-index: 500;
  background: var(--mantine-color-body);

  .mantine-Drawer-header {
    position: absolute;
    right: 0;
    padding-left: 0;
    width: 44px;

    .mantine-Drawer-close {
      margin-left: 0;
      @media (min-width: 487px) {
        display: none;
      }
    }
  }

  .mantine-Drawer-body {
    margin-top: 20px;
    height: calc(100% + 40px - (3.75rem * var(--mantine-scale)));
    max-height: calc(100% + 40px - (3.75rem * var(--mantine-scale)));
  }

  .mantine-Tabs-root {
    max-height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    flex-shrink: 1;

    .mantine-Tabs-tabLabel {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      span {
        padding-left: 5px;
      }
    }

    .mantine-Tabs-panel {
      overflow-y: auto;
      overflow-x: auto;
      padding: 20px;
    }
  }
}
