$track-height: 60px;
$bar-height: 20px;

.timelineContainer {
  position: relative;
  overflow: auto;
  margin: 20px 20px 20px 70px;
  box-sizing: border-box;

  .eventsContainer {
    z-index: 100;
    position: relative;
    height: 900px;
    overflow: visible;

    .eventWrapper {
      position: absolute;
      top: 50px;
      left: 0;
      height: 60px;

      .labels {
        width: 100%;
        white-space: nowrap;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        font-size: .75rem;
        padding-left: 5px;
        .title {
          font-weight: 700;
        }
        .start {
          z-index: 10;
          background: var(--mantine-color-body);
          flex-shrink: 0;
          position: sticky;
          left: 0;
          &::after {
            content: '';
            display: block;
            position: absolute;
            left: 100%;
            top: 0;
            width: 100px;
            height: 100%;
            background: linear-gradient(90deg, var(--mantine-color-body) 20%, transparent);
          }
        }
        .end {
          z-index: 1;
        }
      }

      .bar {
        display: flex;
        flex-flow: row wrap;
        justify-content: stretch;
        align-items: flex-end;

        .margin {
          flex-shrink: 0;
          height: $bar-height;
          background-color: var(--mantine-color-blue-2);
        }

        .event {
          background-color: var(--mantine-color-blue-4);
          box-sizing: border-box;
          width: 100%;
          height: $bar-height;
          flex-shrink: 0;
          overflow: hidden;
          border-style: solid;
          border-width: 0 1px;
          border-color: var(--mantine-color-text);
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
        }

        &.yellow {
          .margin { background-color: var(--mantine-color-yellow-2); }
          .event { background-color: var(--mantine-color-yellow-4); }
        }
        &.green {
          .margin { background-color: var(--mantine-color-green-2); }
          .event { background-color: var(--mantine-color-green-4); }
        }
        &.red {
          .margin { background-color: var(--mantine-color-red-2); }
          .event { background-color: var(--mantine-color-red-4); }
        }
      }

      &.track0  { top: calc(45px * 0); }
      &.track1  { top: calc(45px * 1); }
      &.track2  { top: calc(45px * 2); }
      &.track3  { top: calc(45px * 3); }
      &.track4  { top: calc(45px * 4); }
      &.track5  { top: calc(45px * 5); }
      &.track6  { top: calc(45px * 6); }
      &.track7  { top: calc(45px * 7); }
      &.track8  { top: calc(45px * 8); }
      &.track9  { top: calc(45px * 9); }
      &.track10 { top: calc(45px * 10); }
      &.track11 { top: calc(45px * 11); }
      &.track12 { top: calc(45px * 12); }
      &.track13 { top: calc(45px * 13); }
      &.track14 { top: calc(45px * 14); }
      &.track15 { top: calc(45px * 15); }
      &.track16 { top: calc(45px * 16); }
      &.track17 { top: calc(45px * 17); }
      &.track18 { top: calc(45px * 18); }
      &.track19 { top: calc(45px * 19); }
      &.track20 { top: calc(45px * 20); }
    }
  }

}
