$margin: 20px;

.timelineContainer {
  position: relative;
  box-sizing: border-box;
  margin: $margin*4 $margin $margin $margin+48px;
  height: calc(100% - $margin * 6);
  // display: flex;
  flex-flow: column nowrap;
  justify-items: flex-start;
  background: var(--mantine-color-body);
  border: solid 2px var(--mantine-color-gray-filled);
  box-shadow: 0 $margin/2 $margin rgba(0, 0, 0, .4);
  border-radius: 10px;

  .mantine-ScrollArea-scrollbar {
    z-index: 100;
  }
}
