.section {
  margin: 0 0 3rem;

  p+p {
    margin-top: 1rem;
  }

  // set the spacing on the top line
  .mantine-Divider-root {
    margin-top: 0;
    margin-bottom: .75rem;
  }

  // the last item doesn't need a bottom margin
  &:last-child {
    margin-bottom: 0;
  }

  &.compact {
    margin: 0 0 1rem;

    // hide the top divider on the first item if it's compact
    &:first-child .mantine-Divider-root {
      display: none;
    }

    // non-compact sections following a compact one should still have large spacing
    + .section:not(.compact) {
      margin-top: 2rem;
    }
  }
}
