.section {
  margin: 0 0 2rem;

  p+p {
    margin-top: 1rem;
  }

  .mantine-Accordion-control {
    .mantine-Accordion-icon {
      background: var(--mantine-color-dimmed);
      color: var(--mantine-color-body);
      padding: 2px 10px;
      border-radius: 100px;
    }
    .mantine-Accordion-label {
      font-weight: 700;
      color: var(--mantine-color-text);
    };
  }

  &.empty .mantine-Accordion-control {
    opacity: 1 !important;
    cursor: default !important;
    .mantine-Accordion-chevron {
      display: none;
    }
  }

  // the last item doesn't need a bottom margin
  &:last-child {
    margin-bottom: 0;
  }

  &.compact {
    margin: 0 0 1rem;

    // hide the top divider on the first item if it's compact
    // &:first-child .mantine-Divider-root {
    //   display: none;
    // }

    // non-compact sections following a compact one should still have large spacing
    + .section:not(.compact) {
      margin-top: 2rem;
    }
  }
}
