.rulerContainer {
  position: relative;
  height: 50px;
  margin-bottom: 20px;
  border-bottom: solid 1px var(--mantine-color-text);
  z-index: 0;

  .ruler {
    .tickMark {
      fill: var(--mantine-color-text);
    }
    .shmita {
      // fill: var(--mantine-color-green-3)
    }
  }
}
