.options {
  .alertMessage {
    margin-bottom: 1rem;
  }

  .mantine-Accordion-label {
    font-weight: 700;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-right: var(--mantine-spacing-lg);
  }

  .settingTitle {
    margin-bottom: 0.2rem;
    &:not(:first-child) {
      margin-top: 1.5rem;
    }
  }
}
